{% extends "base.html" %}

{% block title %}About Us - CatBooks{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">About Us - CatBooks</h1>
        <p class="card-text">Welcome to CatBooks, the ultimate destination for fantasy book lovers! Whether you crave epic adventures, mythical creatures, or magical realms, we have carefully curated a collection of the best fantasy books for every reader.<br><br>

            At CatBooks, we believe that every book is a portal to another world. Our mission is to connect passionate readers with extraordinary stories that spark imagination and bring fantasy to life.<br><br>
            
            From timeless classics to hidden gems, our shelves are filled with books that whisk you away on unforgettable adventures. And because we know that every great book deserves a great reader, we also welcome your reviews and recommendations to help others discover their next favorite read.<br><br>
            
            Join our community of book lovers and let’s build a world of fantasy together!<br><br></p>
            
            <h2 class="card-title">Our Story - How CatBooks Began</h2>
            <p class="card-text">It all started in 2015, when a group of fantasy-loving bookworms decided to create a place where readers could find the best fantasy books in one spot. What began as a small online book club quickly grew into a thriving bookstore, fueled by a shared passion for adventure, storytelling, and magical worlds.<br><br>

                Since then, CatBooks has become a trusted destination for fantasy enthusiasts worldwide, offering a carefully curated selection of books, from timeless classics to exciting new releases. Today, we continue to grow, welcoming readers and creators to join our journey into the extraordinary.<br><br></p>
                <h3 class="card-title">Meet the Team</h3>
                <p class="card-text">It all started in 2015, when a group of fantasy-loving bookworms decided to create a place where readers could find the best fantasy books in one spot. What began as a small online book club quickly grew into a thriving bookstore, fueled by a shared passion for adventure, storytelling, and magical worlds.<br><br>
    
                    Since then, CatBooks has become a trusted destination for fantasy enthusiasts worldwide, offering a carefully curated selection of books, from timeless classics to exciting new releases. Today, we continue to grow, welcoming readers and creators to join our journey into the extraordinary.<br><br></p>
    </div>
</div>
{% endblock %}

