{% extends "base.html" %}

{% block title %}Home | CatBooks{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Welcome to CatBooks!</h1>
    <p class="lead">Step into a world of magic, adventure, and endless possibilities! At CatBooks, we bring you the best fantasy stories—from legendary epics to undiscovered treasures—ready to transport you to realms beyond imagination.<br><br>
    
        Explore our collection of handpicked fantasy books.<br><br>

        Search for your next great read or browse our latest additions.<br><br>

        Share your reviews and help fellow adventurers find their perfect story.<br><br>

        Whether you’re a fearless dragon-slayer, a seeker of lost kingdoms, or just looking for your next escape into the unknown, your adventure starts here.<br><br>
        
        Welcome to CatBooks—where stories come to life!</p>
    <a href="/shop" class="btn btn-primary">Explore Books</a>
</div>
{% endblock %}
